<!DOCTYPE html>
<html>

<head>
  {% include "head.html" %} 

  {% block head %}
  <!--Can add more info here-->
  <style>
   table {
    margin-top: 20px;
    border-collapse: collapse;
    width: 95%;
    max-width: 95%;
    height: 100%;
    border-top: 1px solid #90A4AE;

  }
  
  thead {
        background-color: #78909C;
  }

  th,
  td {
    padding: 5px;
    text-align: left;
    border: 1px solid #90A4AE;
  }
  
  tr:hover {
    background-color: #9E9E9E;
  }

  td.img_cart img {
    max-width: 100px;
    max-height: 100%;
  }

  .hide-text-status {
    display: none;
  }
</style>
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
  <script type="text/javascript">
      var gmap = new google.maps.LatLng(20.77074,105.90192,15);
      var marker;
      function initialize()
      {
          var mapProp = {
              center:new google.maps.LatLng(20.77074,105.90192,15),
              zoom:16,
              mapTypeId:google.maps.MapTypeId.ROADMAP
          };

          var map=new google.maps.Map(document.getElementById("googleMap")
              ,mapProp);

          var styles = [
              {
                  featureType: 'road.arterial',
                  elementType: 'all',
                  stylers: [
                      { hue: '#fff' },
                      { saturation: 100 },
                      { lightness: -48 },
                      { visibility: 'on' }
                  ]
              },{
                  featureType: 'road',
                  elementType: 'all',
                  stylers: [

                  ]
              },
              {
                  featureType: 'water',
                  elementType: 'geometry.fill',
                  stylers: [
                      { color: '#adc9b8' }
                  ]
              },{
                  featureType: 'landscape.natural',
                  elementType: 'all',
                  stylers: [
                      { hue: '#809f80' },
                      { lightness: -35 }
                  ]
              }
          ];

          var styledMapType = new google.maps.StyledMapType(styles);
          map.mapTypes.set('Styled', styledMapType);

          marker = new google.maps.Marker({
              map:map,
              draggable:true,
              animation: google.maps.Animation.DROP,
              position: gmap
          });
          google.maps.event.addListener(marker, 'click', toggleBounce);
      }

      function toggleBounce() {

          if (marker.getAnimation() !== null) {
              marker.setAnimation(null);
          } else {
              marker.setAnimation(google.maps.Animation.BOUNCE);
          }
      }

      google.maps.event.addDomListener(window, 'load', initialize);
  </script>
  <!--<link href="/public/dist/css/calendar.css" rel="stylesheet">-->
  <!--<link href="/public/dist/fullcalendar/fullcalendar.css" rel="stylesheet" media="screen">-->
{% endblock %}

</head>

<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">
  
  {% include "main-header-sidebar.html" %} 

  {% block content %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">

        <h1>
          <!-- Dashboard-->
          <small><!--Control panel--></small>
        </h1>
        <ol class="breadcrumb">
          <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
          <li class="active">admin</li>
        </ol>
      </section>

    <section>
      <div id="googleMap" style="width: 1130px; height: 646px;margin-left: 32px;">Google Map</div>
    </section>

      <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->
    {% endblock %}

    {% include "script-link.html" %}   
    {% block script %}
    {% endblock %} 
</body>
<!--<script src="/public/dist/fullcalendar/fullcalendar.js"></script>-->
<!--<script src="/public/dist/fullcalendar/gcal.js"></script>-->
<!--<script src="/public/dist/js/calendar.js"></script>-->

</html>